<!--==========================
    INSIDE HERO SECTION Section
============================-->
<section class="page-image page-image-about md-padding">
	<h1 class="text-white text-center">About</h1>
</section>

<!--==========================
    ABOUTUS Section
============================-->
<section id="aboutus" class="md-padding">
	<div class="container">
		{{> admin-nav}}
	<div class="clearfix"></div>
	<div class="mb-5"></div>
		<div class="row">
			<div class="col-md-12">
				<table class="table table-responsive w-100 d-block d-md-table">
					<thead>
						<tr>
							<th>Türkçe Başlık</th>
							<th>İngilizce Başlık</th>
							<th>Arapça Başlık</th>
							<th>Düzenle</th>
						</tr>
					</thead>
					<tbody>
						{{#each about}}
						<tr>
							<td>{{title_tr}}</td>
							<td>{{title_en}}</td>
							<td>{{title_ar}}</td>
							<td>
								<a class="btn btn-warning" href="/admin/about/edit/{{_id}}">Düzenle</a>
							</td>
						
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>