<!--==========================
    INSIDE HERO SECTION Section
============================-->
<section class="page-image page-image-about md-padding">
	<h1 class="text-white text-center">ADMIN</h1>
</section>

<!--==========================
    ABOUTUS Section
============================-->
<section id="aboutus" class="md-padding">
	<div class="container">
		{{> admin-nav}}
	</div>
</section>

<!--==========================
    THE TEAM
============================-->

<section id="team" class="md-padding">
	<div class="container">

		<div class="row text-center">
			<div class="col-md-4 offset-md-4">
				<div class="section-header">
					<h2 class="title">ADMIN</h2>
				</div>
			</div>
		</div>
	
	</div>
</section>