<ul class="navbar-nav text-uppercase ml-auto" style="display: block;">
	<li class="nav-item" style="float: left; margin-right: 40px;">
				<a class="nav-link" href="/posts/new">Posts</a>
			</li>
			<li class="nav-item" style="float: left; margin-right: 40px;">
				<a class="nav-link" href="/admin/categories">Categories</a>
			</li>
			<li class="nav-item" style="float: left; margin-right: 40px;">
				<a class="nav-link" href="/admin/service">Service</a>
			</li>
			<li class="nav-item" style="float: left; margin-right: 40px;">
				<a class="nav-link" href="/admin/contact">Contact / Location</a>
			</li>
			<li class="nav-item" style="float: left; margin-right: 40px;">
				<a class="nav-link" href="/admin/about">About us</a>
			</li>
		</ul>