<aside id="aside" class="col-md-4">

    <div class="widget">
        <div class="widget-search">
            <form action="/posts/search" method="GET">
            <input class="search-input form-control" type="text" name="look" placeholder="Search">
            <button class="search-btn" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>
    <!-- /Search -->

    <div class="widget" style="{{iscategory iscategory}}" >
        <h3 class="mb-3 lang" data-key="CATEGORIES">Categories</h3>
        <div class="widget-category">
            {{#each category}}
            <a href="/posts/category/{{_id}}">{{name_tr}}</a>
            {{/each}}
        </div>
    </div>

</aside>