{{!--
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="footer-follow">
					<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
					<li><a href="#"><i class="fab fa-twitter"></i></a></li>
					<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
					<li><a href="#"><i class="fab fa-instagram"></i></a></li>
					<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
					<li><a href="#"><i class="fab fa-youtube"></i></a></li>
				</ul>
				<div class="footer-copyrights">
					<p class="text-white">NO COPYRIGHT MESE YAZILIM</p>
				</div>
			</div>
		</div>
	</div>
</footer> --}}

<footer class="footer bg-footer">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="footer-py-60">
					<div class="row">
						<div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
							<a href="#" class="logo-footer">
								<img src="images/logo-light.png" height="28" alt="">
							</a>
							<p class="mt-4">ENDÜKİM ENDÜSTRİYEL KİMYA ANONİM ŞİRKETİ <br> <br> Address: ADALET MAH.
								ANADOLU CAD. MEGAPOL TOWER NO: 41 İÇ KAPI NO: 101
								BAYRAKLI/ İZMİR,
								35530
								VAT number: 3341125443 </p>
							<ul class="list-unstyled social-icon foot-social-icon mb-0 mt-4">
								<li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><svg
											xmlns="http://www.w3.org/2000/svg" width="24" height="24"
											viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
											stroke-linecap="round" stroke-linejoin="round"
											class="feather feather-facebook fea icon-sm fea-social">
											<path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z">
											</path>
										</svg></a></li>
								<li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><svg
											xmlns="http://www.w3.org/2000/svg" width="24" height="24"
											viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
											stroke-linecap="round" stroke-linejoin="round"
											class="feather feather-instagram fea icon-sm fea-social">
											<rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
											<path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
											<line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
										</svg></a></li>
								<li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><svg
											xmlns="http://www.w3.org/2000/svg" width="24" height="24"
											viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
											stroke-linecap="round" stroke-linejoin="round"
											class="feather feather-twitter fea icon-sm fea-social">
											<path
												d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z">
											</path>
										</svg></a></li>
								<li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><svg
											xmlns="http://www.w3.org/2000/svg" width="24" height="24"
											viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
											stroke-linecap="round" stroke-linejoin="round"
											class="feather feather-linkedin fea icon-sm fea-social">
											<path
												d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z">
											</path>
											<rect x="2" y="9" width="4" height="12"></rect>
											<circle cx="4" cy="4" r="2"></circle>
										</svg></a></li>
							</ul>
							<!--end icon-->
						</div>


						<div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
							<ul class="list-unstyled footer-list mt-4">
								<li><a href="/" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Home</a>
								</li>
								<li><a href="/blog" class="text-foot"><i class="uil uil-angle-right-b me-1"></i>
										Products</a></li>
								<li><a href="/contact" class="text-foot"><i class="uil uil-angle-right-b me-1"></i>
										Contact</a></li>
								<li><a href="/about" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> About
										us</a></li>
							</ul>
						</div>

						<div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
							<a href="#" class="logo-footer">
								<img src="images/logo-light.png" height="28" alt="">
							</a>
							<p class="mt-4">Contact: 
								<br>
								Lara YILDIZ
								lara@endukim.com
								<br><br>
								Tel.: +90 501 340 16 64 
								<br> office@endukim.com

							</p>
							
						</div>
					</div>
					<!--end row-->
				</div>
			</div>
			<!--end col-->
		</div>
		<!--end row-->
	</div>
	<!--end container-->

	<div class="footer-py-30 footer-bar bg-footer">
		<div class="container">
			<div class="row align-items-center">
				<div class="col">
					<div class="text-center">
						<p class="mb-0 text-muted">
							<script type="text/javascript" id="www-widgetapi-script"
								src="https://www.youtube.com/s/player/c5a4daa1/www-widgetapi.vflset/www-widgetapi.js"
								async=""></script>
							<script id="iframe_api" src="https://www.youtube.com/iframe_api"></script>
							<script>document.write(new Date().getFullYear())</script>2022 © Starty. Design with <i
								class="mdi mdi-heart text-danger"></i> by <a href="https://shreethemes.in/"
								target="_blank" class="text-reset">Shreethemes</a>.
						</p>
					</div>
				</div>
				<!--end col-->
			</div>
			<!--end row-->
		</div>
		<!--end container-->
	</div>
</footer>

<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="/js/lightbox-plus-jquery.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
</body>

</html>