	<section class="page-image page-image-about md-padding">
		<h1 class="text-white text-center">ABOUT US</h1>
	</section>


	<section id="aboutus" class="md-padding">
		<div class="container">

			<div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">How We Begin</h2>
					</div>
				</div>
			</div>
			<div class="row justify-content-center no-gutters mb-5 mb-lg-0">
				<div class="col-md-6">
					<img class="img-fluid" src="img/about-fabrika.jpeg" alt="">
				</div>
				<div class="col-md-6">
					<div class="bg-main text-center h-100 project">
						<div class="d-flex h-100">
							<div class="project-text w-100 my-auto text-center text-lg-left">
								<p class="mb-3 text-white">ENDUKIM is manufacturer and distributor of chemical products for the petrochemical industry.
The company's management has more than 7 years of experience in the chemical business.
</p>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
