	<header id="hero">
		<div class="container">
			<div class="intro-text">
				<h1 class="text-white lang"  data-key="COMPANY_NAME">ENDÜKİM ENDÜSTRİYEL KİMYA ANONİM ŞİRKETİ</h1>
				<p class="lang" style="font-size: 18px;" data-key="HOME_DESCRIPTION"> ENDÜKİM, petrokimya endüstrisi için kimyasalların üreticisi ve dağıtıcısıdır.</p>
			</div>
		</div>
	</header>

	<!--==========================
    WHO WE ARE Section
============================-->

	<section id="about" class="md-padding">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title lang"  data-key="SERVICES">Hizmetler</h2>
					</div>
				</div>
			</div>
			<div class="row text-center">
				{{#each service}}
				<div class="col-md-4">
					<div class="about">
						<i class="fas fa-cogs"></i>
						<h3>{{selection_helper (lookup ../myselect 'selection') title_tr title_en title_ar}}</h3>
						<p>{{selection_helper (lookup ../myselect 'selection') content_tr content_en content_ar}}</p>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</section>