	<header id="hero">
		<div class="container">
			<div class="intro-text">
				<h1 class="text-white lang"  data-key="COMPANY_NAME">ENDUKIM INDUSTRIAL CHEMISTRY COMPANY</h1>
				<p class="lang" style="font-size: 18px;" data-key="HOME_DESCRIPTION"> is a manufacturer and distributor of chemical products located in Izmir, Turkey.</p>
			</div>
		</div>
	</header>

	<!--==========================
    WHO WE ARE Section
============================-->

	<section id="about" class="md-padding">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title lang"  data-key="SERVICES">Services</h2>
					</div>
				</div>
			</div>
			<div class="row text-center">
				{{#each service}}
				<div class="col-md-4">
					<div class="about">
						<i class="fas fa-cogs"></i>
						<h3>{{title}}</h3>
						<p>{{content}}</p>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</section>