	<section class="page-image page-image-contact md-padding">
		<h1 class="text-white text-center">PRODUCT</h1>
	</section>

	<!--==========================
    Contact Section
============================-->
	<section id="blog" class="md-padding">
		<div class="container">
			<div class="row">
<main id="main" class="col-md-8">
					<div class="blog">
						<div class="blog-img">
							<img class="img-fluid" src="{{post.post_image}}" alt="">
						</div>
						<div class="blog-content">
							<h3>{{post.title}}</h3>
							<p>{{post.content}}</p>
						</div>


					</div>
				</main>
				<!-- /Main -->
					<!-- Category -->
						{{> site-sidebar}}
					<!-- /Category -->
			</div>

		</div>
	</section>